<div class="graphic-inner component-inner">
    {{> component this}}
    <div class="graphic-widget component-widget">
        <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}"  tabindex="0"/>
    </div>
</div>
